.gridCharacter{
    display: grid;
    grid-template-columns: repeat (auto fill);
    margin: 0;
    padding: 0;
    background-image: url(https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); 

}
